@model QLBH.Models.Khachhang
@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "SuaKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa khách hàng</h1>

<h4>Khách hàng</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" asp-action="SuaKhachHang">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaKh" />
            <div class="form-group">
                <label asp-for="TenKh" class="control-label"></label>
                <input asp-for="TenKh" class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-4">
    <a class="btn btn-secondary " asp-action="KhachHang">Back to List</a>
</div>

@section Styles {
    <style>
        /* Định dạng tổng thể cho form */
        .form-group {
            margin-bottom: 1.5rem;
        }

        .centreH{
            text-align:center
        }

        h1 {
            color: #333;
            font-size: 2rem;
        }

        .control-label {
            font-weight: bold;
            color: #555;
        }

        .form-control {
            border: 1px solid #ced4da;
            border-radius: 0.5rem;
            padding: 0.75rem 1.25rem;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 0.5rem;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .text-danger {
            font-size: 0.875rem;
        }

        a {
            color: #007bff;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
}