@{
    ViewData["Title"] = "ChiTietMonAn";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@model QLBH.ViewModels.HomeProductDetailViewModel
<div class="modal product-detail open">
    <button class="modal-close close-popup"><i class="fa-thin fa-xmark"></i></button>
    <div class="modal-container mdl-cnt" id="product-detail-content">
        <div class="modal-header">
            <img class="product-image" src=@Url.Content( "~/assets/img/products/" + Model.monan.Anh) alt="">
        </div>
        <div class="modal-body">
            <h2 class="product-title">@Model.monan.TenHh</h2>
            <div class="product-control">
                <div class="priceBox">
                    <span class="current-price">@Model.monan.DonGiaBan</span>
                </div>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-" onclick="decreasingNumber(this)">
                    <input class="input-qty" max="100" min="1" name="" type="number" value=@Model.chitietmonan.SoLuong>
                    <input class="plus is-form" type="button" value="+" onclick="increasingNumber(this)">
                </div>
            </div>
            <p class="product-description"></p> @* thêm vào csdl thuộc tính GioiThieu sau *@
        </div>
        <div class="notebox">
            <p class="notebox-title">Ghi chú</p>
            <textarea class="text-note" id="popup-detail-note" placeholder="Nhập thông tin cần lưu ý..."></textarea>
        </div>
        <div class="modal-footer">
            <div class="price-total">
                <span class="thanhtien">Thành tiền</span>
                <span class="price">@Model.monan.DonGiaBan</span>
            </div>
            <div class="modal-footer-control">
                <a class="button-dathangngay" data-product="1">Đặt hàng ngay</a>
                <button class="button-dat" id="add-cart" onclick="animationCart()"><i class="fa-light fa-basket-shopping"></i></button>
            </div>
        </div>
    </div>
</div>


