@{
    ViewData["Title"] = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

<div class="checkout-page active">
    <div class="checkout-header">
        <div class="checkout-return">
            <form action="@Url.Action("Index", "Home")" method="post">
                <button type="submit"><i class="fa-regular fa-chevron-left"></i></button>
            </form>
        </div>
        <h2 class="checkout-title">Thanh toán</h2>
    </div>
    <main class="checkout-section container">
        <div class="checkout-col-left">

            <div class="checkout-row">
                <div class="checkout-col-title">
                    Thông tin người nhận
                </div>
                <div class="checkout-col-content">
                    <div class="content-group">
                        <form action="" class="info-nhan-hang">
                            <div class="form-group">
                                <input id="tennguoinhan" name="tennguoinhan" type="text" placeholder="Tên người nhận" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input id="sdtnhan" name="sdtnhan" type="text" placeholder="Số điện thoại nhận hàng" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input id="diachinhan" name="diachinhan" type="text" placeholder="Địa chỉ nhận hàng" class="form-control chk-ship">
                                <span class="form-message"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-col-right">
            <p class="checkout-content-label">Đơn hàng</p>
            <div class="bill-total" id="list-order-checkout">
                <div class="food-total">
                    <div class="count">1x</div>
                    <div class="info-food">
                        <div class="name-food">Rau xào ngũ sắc</div>
                    </div>
                </div>
            </div>
            <div class="bill-payment">
                <div class="total-bill-order">
                    <div class="priceFlx">
                        <div class="text">
                            Tiền hàng
                            <span class="count">1 món</span>
                        </div>
                        <div class="price-detail">
                            <span id="checkout-cart-total">180.000&nbsp;₫</span>
                        </div>
                    </div>
                    <div class="priceFlx chk-ship">
                        <div class="text">Phí vận chuyển</div>
                        <div class="price-detail chk-free-ship">
                            <span>30.000&nbsp;₫</span>
                        </div>
                    </div>
                </div>
                <div class="policy-note">
                    Bằng việc bấm vào nút “Đặt hàng”, tôi đồng ý với
                    <a href="#" target="_blank">chính sách hoạt động</a>
                    của chúng tôi.
                </div>
            </div>
            <div class="total-checkout">
                <div class="text">Tổng tiền</div>
                <div class="price-bill">
                    <div class="price-final" id="checkout-cart-price-final">210.000&nbsp;₫</div>
                </div>
            </div>
            <button class="complete-checkout-btn">Đặt hàng</button>
        </div>
    </main>
</div>
